.product-image-icon {
  position: relative;
  top: 0;
  left: -1px;
  width: 370px;
  height: 220px;
  object-fit: cover;

 overflow: hidden;
}
.textareastandard-formgroup {
  width: 317px;
  position: relative;
}

.textareastandard-formgroup textarea{
  resize: none;
  
  border-color: var(--color-tan);
  background-color: #f2e7d5;
  color: black;
  
}

.textareastandard-formgroup textarea::placeholder{
  color: black;
}

.amount {
  font-weight: 700;
}
.amount,
.lei {
  margin: 0;
  position: relative;
  line-height: 120%;
}
.product-view.vector-icon {
  position: absolute;
  height: 10%;
  width: 68.33%;
  top: 45%;
  right: 15.83%;
  bottom: 45%;
  left: 15.83%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.minus {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  border-radius: var(--br-11xs);
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  overflow: hidden;
}
.vector-icon1 {
  position: absolute;
  height: 68.33%;
  width: 10%;
  top: 15.83%;
  right: 45%;
  bottom: 15.83%;
  left: 45%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.product-main,
.quantity {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.quantity {
  border-radius: var(--br-9xs);
  background-color: var(--color-tan);
  width: 71px;
  flex-shrink: 0;
  padding: var(--padding-10xs);
  box-sizing: border-box;
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.product-main {
  position: relative;
  width: 317px;
  height: 38.33px;
  
  margin-top: 10px;
}
.vector-icon3 {
  position: relative;
  width: 20px;
  height: 20.5px;
  flex-shrink: 0;
}
.product-view .delete-btn {
  cursor: pointer;
  border: 0;
  padding: var(--padding-11xs);
  background-color: var(--color-tan);
  border-radius: var(--br-5xs);
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.product-view .delete-btn:hover{
  opacity: 80%;
}

.product-view .add-btn,
.buttons {
  display: flex;
  flex-direction: row;
}
.product-view .add-btn {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: var(--color-tan);
  border-radius: var(--br-5xs);
  width: 120px;
  height: 40px;
  flex-shrink: 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
}

.product-view .add-btn:hover{
  opacity: 80%;
}
.buttons {
  position: relative;
  width: 320px;
  align-items: center;
  justify-content: space-between;
  margin: 15px;
}

.product-view {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--br-5xl);
  background-color: var(--color-whitesmoke);
  width: 360px;
  min-height: 450px;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
  font-family: var(--font-inter);

  top: 150px;
  left: 150px;
}

.modal-content{
  width: auto;
  margin-top: 100px;
  background-color: transparent;
  border: none;
}
