.product-image-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  height: 220px;
  object-fit: cover;
}
.textareastandard-formgroup {
  width: 317px;
  position: absolute;
  top: 288.33px;
  left: 21px;
}
.burger-vita {
  font-weight: 700;
}
.burger-vita,
.lei3 {
  margin: 0;
  position: relative;
  line-height: 120%;
}
.vector-icon12 {
  position: absolute;
  height: 10%;
  width: 68.33%;
  top: 45%;
  right: 15.83%;
  bottom: 45%;
  left: 15.83%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.minus {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  border-radius: var(--br-11xs);
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.vector-icon13 {
  position: absolute;
  height: 68.33%;
  width: 10%;
  top: 15.83%;
  right: 45%;
  bottom: 15.83%;
  left: 45%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.product-main,
.quantity2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.quantity2 {
  border-radius: var(--br-9xs);
  background-color: var(--color-tan);
  width: 71px;
  padding: var(--padding-10xs);
  box-sizing: border-box;
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.product-main {
  position: absolute;
  top: 235px;
  left: 21px;
  width: 317px;
  height: 38.33px;
}
.vector-icon15 {
  position: relative;
  width: 20px;
  height: 20.5px;
}
.delete-btn {
  cursor: pointer;
  border: 0;
  padding: var(--padding-11xs);
  background-color: var(--color-tan);
  border-radius: var(--br-5xs);
  width: 40px;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.add5 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 120%;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
}
.add-btn,
.buttons1 {
  display: flex;
  flex-direction: row;
}
.add-btn {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: var(--color-tan);
  border-radius: var(--br-5xs);
  width: 120px;
  height: 40px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
}
.buttons1 {
  position: absolute;
  top: 387.33px;
  left: 20px;
  width: 319px;
  align-items: center;
  justify-content: space-between;
}
.product-view1 {
  position: relative;
  border-radius: var(--br-5xl);
  background-color: var(--color-whitesmoke);
  width: 359px;
  height: 450px;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}
