.container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  flex-basis: calc(100% / [number of columns]);
}

.container.vector-icon {
  position: relative;
  width: 20px;
  height: auto;
  flex-shrink: 0;
}

.desk .add-btn {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-white);
  flex: 1;
  border-radius: var(--br-3xs);
  height: 40px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.add-btn:hover {
  background-color: var(--color-gainsboro);
}

.container.dollar-sign-icon {
  position: relative;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  overflow: hidden;
}
.button,
.pay,
.status-button {
  display: flex;
  align-items: center;
}
.pay {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-white);
  flex: 1;
  border-radius: var(--br-3xs);
  height: 40px;
  flex-direction: row;
  justify-content: center;
  gap: 4px;
}
.add:hover,
.pay:hover {
  background-color: var(--color-gainsboro);
}

.pay.hidden{
  display: none;
}

.button,
.status-button {
  box-sizing: border-box;
  justify-content: flex-start;
}
.status-button {
  align-self: stretch;
  border-radius: 12px;
  height: 40px;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-3xs) 0;
  gap: 15px;
}
.button {
  position: absolute;
  width: 100%;
  top: 190px;
  right: 0;
  left: 0;
  flex-direction: column;
  padding: var(--padding-3xs) 15px;
}
.p {
  margin: 0;
  position: relative;
  line-height: 100%;
  font-weight: 700;
}
.empty,
.status1 {
  position: relative;
  line-height: 120%;
  font-weight: 500;
}
.empty {
  margin: 0;
  font-weight: 700;
}
.status {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
  font-size: var(--font-size-base);
}
.pm {
  margin: 0;
  position: relative;
  font-size: 14px;
  line-height: 120%;
  display: none;
}
.pm.visible{
  display: block;
}
.middle-text,
.title {
  position: absolute;
  width: 100%;
  top: 58.5px;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.title {
  top: 0;
  border-radius: var(--br-5xl) var(--br-5xl) 0 0;
  background-color: #a0a0a0;
  height: 42px;
  overflow: hidden;
  justify-content: center;
  font-size: 24px;
}
.desk {
  position: relative;
  border-radius: var(--br-5xl);
  background-color: #bebebe;
  width: 210px;
  height: 250px;
  text-align: center;
  font-size: 96px;
  color: var(--color-white);
  font-family: var(--font-inter);
}

.desk.orange{
 background-color: #E39A44;
}

.desk.green{
  background-color: #93D36C;
 }

 .desk.red{
  background-color: #D76666;
 }
.title.orange{
  background-color: #DB7C0D;
}
.title.green{
  background-color: #7FB65E;
}
.title.red{
  background-color: #C95353;
}