.sidebar-frame{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 35px 20px 20px;
  gap: 24px;

  position: fixed;
  height: 100%;
  min-height: 100vh;
  left: 0px;
  top: 0px;

  transition: transform 0.3s ease-in-out;
  background: #3D2D28;
}

.sidebar-frame.hide {
  transform: translateX(-300px);
}

.sidebar-frame .logo{
  width: 250px; 
  height: 55px;
}

.sidebar-frame .menu{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 5px;

  width: 250px;
  height: 280px;
}

.sidebar-frame .menu .row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;

}

.sidebar-frame .row .icons{
  width: auto;
  height: 24px;
}

.btn-hide-sidebar{
  width: 50px;
  height: 50px;
}

.btn-hide-sidebar .icon{
  width: 38px;
  height: 38px;
}