.select-desk1 {
  margin: 0;
  font-weight: 700;
}

.small-desk-title {
  align-self: stretch;
  border-radius: var(--br-5xl) var(--br-5xl) 0 0;
  background-color: var(--color-darkgray);
  height: 22px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.desk-title-text,
.select-desk1 {
  position: relative;
  line-height: 120%;
}

.desk-number,
.desk-places {
  position: relative;
  line-height: 95%;
}

.desk-places {
  font-size: var(--font-size-sm);
  line-height: 100%;
}

.desk,
.desk-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.desk-data {
  align-self: stretch;
  justify-content: flex-start;
  font-size: 64px;
}

.small-desk {
  border-radius: var(--br-5xl);
  background-color: var(--color-silver);
  width: 116px;
  height: 105px;
  padding: 0 0 var(--padding-5xs);
  box-sizing: border-box;
  justify-content: space-between;
}

.small-desk.green {
  background-color: #93D36C;
}

.small-desk-title.green {
  background-color: #7FB65E;
}

.desk-list {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  flex-wrap: wrap;
  color: var(--color-white);
}

.close1 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 120%;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
}

.close {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: transparent;
  border-radius: var(--br-5xs);
  width: 126px;
  height: 40px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.choose1 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
}

.choose {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-16xl);
  background-color: var(--color-tan);
  border-radius: var(--br-5xs);
  height: 40px;
  overflow: hidden;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
}

.btns,
.choose,
.select-desk {
  display: flex;
  justify-content: center;
}

.btns {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-5xs);
}

.select-desk {
  position: relative;
  border-radius: var(--br-5xl);
  background-color: var(--color-whitesmoke);
  box-shadow: 0 4px 39px rgba(0, 0, 0, 0.25);
  width: 555px;
  top: 180px;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-3xl) var(--padding-11xl);
  box-sizing: border-box;
  align-items: center;
  gap: var(--gap-3xs);
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}