.product-image-productview-icon {
  position: relative;
  width: 370px;
  height: 220px;
  object-fit: cover;
}
.productname-productview {
  font-weight: 700;
}
.price-productview,
.productname-productview {
  margin: 0;
  position: relative;
  line-height: 120%;
}
.product-main-productview {
  align-self: stretch;
  height: 38.33px;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-11xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  color: var(--color-gray-100);
}
.categroytext-productview {
  position: relative;
}
.span {
  color: var(--color-darkgray);
}
.categroy-productview {
  position: relative;
  color: var(--color-gray-100);
}
.categorycontainer-productview {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-11xl);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.description-productview1 {
  flex: 1;
  position: relative;
  color: var(--color-gray-100);
}
.description-productview {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-11xl) var(--padding-3xs);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.vector-icon-productview {
  position: relative;
  width: 40px;
  height: auto;
}
.removebtn-productview {
  cursor: pointer;
  border: 0;
  padding: var(--padding-11xs);
  background-color: transparent;
  border-radius: var(--br-5xs);
  width: 40px;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.close-productview {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 120%;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
}
.btnscontainer-productview,
.closebtn-productview {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.closebtn-productview {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: var(--color-tan);
  border-radius: var(--br-5xs);
  width: 120px;
  height: 40px;
  align-items: flex-start;
  justify-content: center;
}
.btnscontainer-productview {
  width: 319px;
  padding: 0 0 var(--padding-3xl);
  align-items: center;
  justify-content: space-between;
}
.product-view-setting {
  position: relative;
  border-radius: var(--br-5xl);
  background-color: var(--color-whitesmoke);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
  width: 370px;
  left: 80px;
  max-height: 100%;
  text-align: left;
  top: 150px;
  font-size: var(--font-size-base);
  color: var(--color-darkgray);
  font-family: var(--font-inter);
}
